// backgrounds
$bg-color: #ffffff;
$bg-color-hover: #d3e5fd;
$bg-color-disabled: #dddddd;
$bg-color-active: #bcd7fc;
$bg-color-selected: #9fbbdf;

// fonts
$text-color: #000000;
$text-color-disabled: #666666;
$text-primary-color: #3834ff;
$text-accent-color: #ff6600;

// borders
$border-color: #000000;
$border-color-disabled: #666666;
