// backgrounds
$bg-color: #2b303b;
$bg-color-hover: #373f4e;
$bg-color-disabled: #4d5158;
$bg-color-active: #3c455a;
$bg-color-selected: #46516b;

// fonts
$text-color: #dbdbdb;
$text-color-disabled: #a0a0a0;
$text-primary-color: #9f9eff;
$text-accent-color: #ff6600;
$text-error-color: #ff0000;
$text-warn-color: #ff6600;

// borders
$border-color: #697080;
$border-color-disabled: #a0a0a0;
