.debug-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fefefe;
  border: 1px solid black;
  color: black;

  .debug-content {
    flex-grow: 1;

    pre {
      margin: 0rem;
    }
  }
}
