@import "node_modules/spectre.css/src/spectre";

.scrollable {
  display: flex;
  overflow: auto;

  .scrollable-content {
    display: flex;
    min-height: 0px;
    min-width: 0px;
    flex-grow: 1;
  }
}
