// this file is taken from https://raw.githubusercontent.com/Mytrill/hyperapp-object-view
// TODO: replace by the real hyperapp-object-view once Whaaley merge the PR :)

// chriskempson / base16-default-schemes / ocean
$base00: #2b303b;
$base01: #343d46;
$base02: #4f5b66;
$base03: #65737e;
$base04: #a7adba;
$base05: #c0c5ce;
$base06: #dfe1e8;
$base07: #eff1f5;
$base08: #bf616a;
$base09: #d08770;
$base0a: #ebcb8b;
$base0b: #a3be8c;
$base0c: #96b5b4;
$base0d: #8fa1b3;
$base0e: #b48ead;
$base0f: #ab7967;

._object-view {
  display: flex;
  min-height: 0px;
  min-width: 0px;
  flex-grow: 1;
  color: $base05;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  line-height: 1.25em;
  white-space: nowrap;
  background: $base00;

  .-row {
    padding: 0 0 0 2ch;

    &:not(:last-of-type) {
      &::after {
        content: ",";
      }
    }
  }

  .-key {
    color: $base08;

    &::after {
      color: $base05;
      content: ": ";
    }
  }

  .-null {
    &::before {
      color: $base09;
      content: "null";
    }
  }

  .-array {
    &::after {
      content: "]";
    }

    &::before {
      content: "[";
    }
  }

  .-boolean {
    color: $base0c;
  }

  .-function {
    &::before {
      content: "Æ’";
    }
  }

  .-number {
    color: $base0a;
  }

  .-object {
    &::after {
      content: "}";
    }

    &::before {
      content: "{";
    }
  }

  .-string {
    color: $base0b;

    &::after {
      content: "'";
    }

    &::before {
      content: "'";
    }
  }

  .-undefined {
    &::before {
      color: $base09;
      content: "undefined";
    }
  }

  .-expand {
    &::before {
      content: "+";
    }
  }

  .-collapse {
    &::before {
      content: "-";
    }
  }
}
