@import "./index.scss";

.run-action-item-count {
  color: orange;
}

.run-action-item {
  margin: 0rem;
  width: 100%;

  .item-link {
    display: block;
    color: black;

    &:hover {
      background-color: $secondary-color;
      color: black;
    }

    &.selected {
      background-color: $secondary-color-dark;
      font-weight: bold;
      color: black;
    }
  }
}
