@import "node_modules/spectre.css/src/spectre";

.run-action-item-count {
  color: orange;
}

.run-action-item {
  display: block;

  &:hover {
    background-color: $secondary-color;
  }

  &.selected {
    background-color: $secondary-color-dark;
  }
}
