@import "variables";

.run-event-count {
  color: $text-accent-color;
}

.run-event {
  margin: 0rem;
  width: 100%;

  .item-link {
    display: block;
    color: $text-color;

    &:hover {
      background-color: $bg-color-hover;
      text-decoration: none;
      color: $text-color;
    }

    &:focus {
      text-decoration: none;
    }

    &.selected {
      background-color: $bg-color-selected;
      font-weight: bold;
      color: $text-color;
    }
  }

  .icon:hover {
    color: $text-primary-color;
  }
}
